@using Microsoft.AspNetCore.Components.Web
@namespace GigaHurtz_Frontend.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="GigaHurtz Frontend.styles.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="FirebaseFunctions.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script type="module">
    // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyBXamTHEreIY_sEVLmiGhoO0wARr2G4W8g",
    authDomain: "gigahurtz-45d32.firebaseapp.com",
    projectId: "gigahurtz-45d32",
    storageBucket: "gigahurtz-45d32.appspot.com",
    messagingSenderId: "240498078812",
    appId: "1:240498078812:web:38dd016ad58c9d8dc6a299"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
</script>
</body>
</html>