@page "/hpage"
@inject NavigationManager NavigationManager


<!-- Host Information (Card format) -->
<div class="card mb-3" style="max-width: 780;">
    <!-- was 540 -->
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://media.istockphoto.com/photos/beautiful-craftsman-home-exterior-on-bright-sunny-day-with-green-and-picture-id1222625117?s=612x612" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Pending Requests -->
<hr>
<ul class="list-group">
    <li class="list-group-item active">Pending Requests</li>
    <!-- Row Format Begins -->
    <li class="list-group-item">
        <div class="card mb-3" style="max-width: 780;">
            <!-- was 540 -->
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Group Size: Gender(s): [Male,Female,Both] </p>
                <p class="card-text">Languages: ... #Havekids #</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </li>
    <!-- Row Format Ends -->
    <li class="list-group-item">Morbi leo risus</li>
</ul>