@page "/"
@inject IJSRuntime jsRuntime

<PageTitle>Index</PageTitle>

<!-- Three buttons -->
<div>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" style="padding: 3%">Login</button>
  
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-outline-primary">Register Host</button>
    <button type="button" class="btn btn-outline-primary">Register Refugee</button>
  </div>
</div>
</div>