@page "/login"
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager

<h1>You are in Login Page</h1>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div ></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {
    /*
    using System;
    using System.Collections.Generic;
    using System.Linq;
    using System.Threading.Tasks;
    using Microsoft.AspNetCore.Components;
    using Microsoft.AspNetCore.Components.Rendering;
    public partial class HostSignUp
    {
    private string email;

    private string password;
    //async Task
    public void SubmitInfo()
    {

        // Pull User data for the input email and password
        var uid = await JSRuntime.InvokeAsync<string>("FirebaseFunctions.login", new[] { Email, Password });

        // Check if the email and password are valid
        if (string.IsNullOrEmpty(uid)) {
            Console.WriteLine("Invalid Login...");
            error = "Invalid Login...";
            return;
        }

        // Log the user into the website
        var data = await Handler.GetUser(uid);
        Handler.Login(new User(data.ToDictionary()) { Uid = uid });

        // Is the user a host or a refugee?

        NavigationManager.NavigateTo("hpage");
        NavigationManager.NavigateTo("rpage");

    }
    }
*/
}