@page "/rsignup"
@inject NavigationManager NavigationManager

<h1>Refugee Signup</h1>

<form>
    <div class="mb-3">
        <label for="refugeeName" class="form-label">Name</label>
        <input @bind="name" type="text" class="form-control" id="refugeeName">
    </div>

    <div class="mb-3">
        <label for="refugeeEmail" class="form-label">Email address</label>
        <input @bind="email" type="email" class="form-control" id="refugeeEmail">
    </div>

    <div class="mb-3">
        <label for="refugeePassword" class="form-label">Password</label>
        <input @bind="password" type="password" class="form-control" id="refugeePassword">
    </div>

    <div class="mb-3">
        <label for="refugeePhoneNumber" class="form-label">Phone Number</label>
        <input @bind="phoneNumber" type="text" class="form-control" id="refugeePhoneNumber">
    </div>

    <div class="mb-3">
        <label for="refugeeAddress" class="form-label">Address</label>
        <input @bind="address" type="text" class="form-control" id="refugeeAddress">
    </div>

    <div class="mb-3">
        <label for="refugeeSize" class="form-label">Group Size</label>
        <input @bind="groupSize" type="number" min="1" class="form-control" id="refugeeSize">
    </div>

    <div class="mb-3">
        <label for="refugeeLanguages" class="form-label">Language(s) Spoken</label>
        <input @bind="languages" type="text" class="form-control" id="refugeeLanguages"> <!--CHANGE INPUT TYPE TO SELECT-->
    </div>

    <div class="form-check form-switch">
        <input @bind="hasKids" class="form-check-input" type="checkbox" role="switch" id="refugeeKids">
        <label class="form-check-label" for="refugeeKids">Have Kids</label>
    </div>

    <label for="refugeeAcceptGender">Gender (Ages 13+):</label>
    <div class="form-check form-check-inline">
        <input @bind="hasMale" class="form-check-input" type="radio" name="checkGender" id="refugeeAcceptMale" value="male">
        <label class="form-check-label" for="RefugeeAcceptFemale">Male</label>
    </div>
    <div class="form-check form-check-inline">
        <input @bind="hasFemale" class="form-check-input" type="radio" name="checkGender" id="refugeeAcceptFemale" value="female">
        <label class="form-check-label" for="refugeeAcceptFemale">Female</label>
    </div>
    <div class="form-check form-check-inline">
        <input @bind="hasBoth" class="form-check-input" type="radio" name="checkGender" id="refugeeAcceptFemale" value="female">
        <label class="form-check-label" for="refugeeAcceptFemale">Mixed Group</label>
    </div>

    <br>
    <button @onclick="GoToRPage" type="submit" class="btn btn-primary">Submit</button>
</form>
