@page "/rsignup"
@using GigaHurtz_Frontend.Services
@inject NavigationManager _NavigationManager
@inject IApiService ApiService

<h1>Refugee Signup</h1>

<div>
    <div class="mb-3">
        <label for="refugeeName" class="form-label">Name</label>
        <input @bind="Name" type="text" class="form-control" id="refugeeName" required>
    </div>

    <div class="mb-3">
        <label for="refugeeEmail" class="form-label">Email address</label>
        <input @bind="Email" type="email" class="form-control" id="refugeeEmail" required>
    </div>

    <div class="mb-3">
        <label for="refugeePassword" class="form-label">Password</label>
        <input @bind="Password" type="password" class="form-control" id="refugeePassword" required>
    </div>

    <div class="mb-3">
        <label for="refugeePhoneNumber" class="form-label">Phone Number</label>
        <input @bind="PhoneNumber" type="text" class="form-control" id="refugeePhoneNumber">
    </div>

    <div class="mb-3">
        <label for="refugeeAddress" class="form-label">Address</label>
        <input @bind="Address" type="text" class="form-control" id="refugeeAddress" required>
    </div>

    <div class="mb-3">
        <label for="refugeeSize" class="form-label">Group Size</label>
        <input @bind="GroupSize" type="number" min="1" class="form-control" id="refugeeSize" required>
    </div>

    <div class="mb-3">
        <label for="refugeeLanguages" class="form-label">Language(s) Spoken</label>
        <Select @bind-SelectedValue="@SelectedLanguage" id="refugeeLanguages" TValue="string">
            @foreach (var language in ApiService.Languages)
            {
                <SelectItem Value="language">@language</SelectItem>
            }
        </Select>
    </div>

    <div class="form-check form-switch">
        <input @bind="HasKids" class="form-check-input" type="checkbox" role="switch" id="refugeeKids" required>
        <label class="form-check-label" for="refugeeKids">Have Kids</label>
    </div>

    <label for="refugeeAcceptGender">Gender (Ages 13+):</label>
    <div class="form-check form-check-inline">
        <input @bind="HasMale" class="form-check-input" type="radio" name="checkGender" id="refugeeAcceptMale">
        <label class="form-check-label" for="RefugeeAcceptFemale">Male</label>
    </div>
    <div class="form-check form-check-inline">
        <input @bind="HasFemale" class="form-check-input" type="radio" name="checkGender" id="refugeeAcceptFemale">
        <label class="form-check-label" for="refugeeAcceptFemale">Female</label>
    </div>
    <div class="form-check form-check-inline">
        <input @bind="HasBoth" class="form-check-input" type="radio" name="checkGender" id="refugeeAcceptFemale">
        <label class="form-check-label" for="refugeeAcceptFemale">Mixed Group</label>
    </div>

    <br>
    <button @onclick="GoToRPage" class="btn btn-primary">Submit</button>
    <button @onclick="MainMenu" class="btn btn-secondary" style= "float: right;">Back</button>
</div>